aenum==3.1.16
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
aiobotocore==2.26.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aioitertools==0.13.0
aiosignal==1.4.0
alembic==1.17.2
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.5
asyncssh==2.22.0
atpublic==7.0.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
babel==2.17.0
backports-zstd @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_backports.zstd_1767045020/work
beautifulsoup4==4.14.3
billiard==4.2.4
bleach==6.3.0
blinker==1.9.0
boto3==1.41.5
botocore==1.41.5
brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
cachetools==6.2.4
celery==5.6.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
cffi==2.0.0
cfgv==3.5.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1764518652/work
click-didyoumean==0.3.1
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
click-repl==0.3.0
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
configobj==5.0.9
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
databricks-sdk==0.76.0
dataclasses-json==0.6.7
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
dictdiffer==0.9.0
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
docker==7.1.0
dpath==2.2.0
dulwich==0.25.0
dvc==3.65.0
dvc-data==3.17.0
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-s3==3.2.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
entrypoints==0.4
executing==2.2.1
fastapi==0.128.0
fastjsonschema==2.21.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1767377229747/work
fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1733507458907/work
flask==3.1.2
flask-cors==6.0.2
flatten-dict==0.4.2
flufl-lock==8.2.0
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1764784748144/work
funcy==2.0
gdal @ file:///Users/runner/miniforge3/conda-bld/libgdal-core_1733859981512/work/build/swig/python
geopandas==1.1.2
-e file:///Users/dntgafck/msai/mlops
gitdb==4.0.12
gitpython==3.1.46
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1762946971328/work
google-auth==2.45.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
gto==1.9.0
gunicorn==23.0.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
huey==2.5.5
hydra-core==1.3.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
identify==2.6.15
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib-metadata==8.7.1
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.8.0
ipython-pygments-lexers==1.1.1
isoduration==20.11.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jmespath==1.0.1
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-client==8.7.0
jupyter-core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter-server==2.17.0
jupyter-server-terminals==0.5.3
jupyterlab==4.5.1
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.0
kiwisolver==1.4.9
kombu==5.6.2
lark==1.3.1
lightning-utilities==0.15.2
mako==1.3.10
markdown-it-py==4.0.0
markupsafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055254345/work
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
ml-dtypes==0.5.4
mlflow==3.8.1
mlflow-skinny==3.8.1
mlflow-tracing==3.8.1
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.7.0
mypy-extensions==1.1.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
nodeenv==1.10.0
notebook-shim==0.2.4
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1766373788/work/dist/numpy-2.4.0-cp311-cp311-macosx_11_0_arm64.whl
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.20.0
onnx-ir==0.1.13
onnxscript==0.5.7
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1763124456296/work
orjson==3.11.5
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1758208741/work
pip @ file:///home/task_176313218821961/conda-bld/pip_1763132220821/work
platformdirs==4.5.1
pluggy==1.6.0
pre-commit==4.5.1
prometheus-client==0.23.1
prompt-toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
psutil==7.2.1
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.12.0
pydot==4.0.1
pygit2==1.19.1
pygments==2.19.2
pygtrie==2.5.0
pyogrio==0.12.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1766475444/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1739711680430/work
pysocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
pytorch-lightning==2.6.0
pytz==2025.2
pyyaml @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1758891744044/work
pyzmq==27.1.0
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1733163494564/work
referencing==0.37.0
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.30.0
rsa==4.9.1
ruamel-yaml==0.19.1
s3fs==2025.12.0
s3transfer==0.15.0
scikit-learn==1.8.0
scipy==1.16.3
scmrepo==3.6.0
seaborn==0.13.2
semver==3.0.4
send2trash==2.0.0
sentinelhub==3.11.3
setuptools==80.9.0
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1738308027240/work
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six==1.17.0
smmap==5.0.2
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
soupsieve==2.8.1
sqlalchemy==2.0.45
sqlparse==0.5.5
sqltrie==0.11.2
stack-data==0.6.3
starlette==0.50.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate==0.9.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.12.20
tinycss2==1.4.0
tomli==2.3.0
tomli-w==1.2.0
tomlkit==0.13.3
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1741947736613/work
torchmetrics==1.8.2
torchvision @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision_1739668684/work
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
typer==0.21.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1765719678555/work
utm==0.8.1
uvicorn==0.40.0
vine==5.1.0
virtualenv==20.35.4
voluptuous==0.16.0
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
werkzeug==3.1.4
wheel==0.45.1
wrapt==1.17.3
yarl==1.22.0
zc-lockfile==4.0
zipp==3.23.0
